*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    text-align: center;
    padding-top: 1.8vw;
}
.poster{
    background: #111;
    width: 50%;
    margin: auto;
    text-align: left;
    color: #fff;
    padding: 4vw;  
}
.poster__caption{
    padding-top: 4vw;                       
}
.poster__caption h1{
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.poster__caption h2{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}